@mixin flexitems {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .user-details-container {
//   background-color: #ffffff;
//   border: 1px solid #e0e0e0;
//   padding: 20px;
//   border-radius: 8px;
// }

.user-detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.user-detail-row .font-bold {
  margin-right: 10px;
  font-weight: bold;
}
